<!doctype html>
<html>
<head>
	<title>CS340 Final Project</title>
  <h1>Destiny Database</h1>


	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/guardian">Guardians</a></li>
	  <li><a href="/npc">NPCs</a></li>
	  <li><a href="/planet">Planets</a></li>
	</ul>


</head>
<body>
	{{{body}}}
</body>
</html>
