<h1>Destiny Planets</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/guardian">Guardians</a></li>
  <li><a href="/npc">NPCs</a></li>
  <li><a href="/planet">Planets</a></li>
</ul>



<h2>Add A Planet</h2>


<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>

        {{#each planets}}
        <tr>
            <td>{{name}}</td>
            <td><button onclick="deletePlanet({{id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    <form id="addplanet" action="/planet" method="post">
    Name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
    </form>
</table>
