<h1>Destiny Weapons</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/guardian">Guardians</a></li>
  <li><a href="/npc">NPCs</a></li>
  <li><a href="/planet">Planets</a></li>
  <li><a href="/weapons">Weapons</a></li>
</ul>



<h2>Add A Weapon</h2>


<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>

        {{#each weapons}}
        <tr>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{tier}}</td>
            <td><button onclick="deleteWeapon({{id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    <form id="addWeapon" action="/weapons" method="post">
    Name: <input type="text" name="name"><br>
    Type: <input type="text" name="type"><br>
    Tier: <input type="text" name="tier"><br>
    <input type="submit" value="Submit">
    </form>
</table>
